.divider {
    border: 1px solid var(--background-modifier-border);
    padding: 5px;
    background-color: rgb(20, 20, 20);
}

.nameColorRow {
  margin-bottom: 7px;
}

.addButton {
  align-items: end;
  justify-content: end;
  color: red;
}


button:not(.clickable-icon).removeButton {
  background-color: rgb(138, 16, 16);
}
