.divider {
    border: 1px solid var(--background-modifier-border);
    padding: 5px;
    background-color: rgb(20, 20, 20);
}

.nameColorRow {
  margin-bottom: 7px;
}

button:not(.clickable-icon).addButton {
  background-color: rgb(39, 105, 39);
}


button:not(.clickable-icon).removeButton {
  background-color: rgb(216, 47, 47);
}

.nameColorContainer {
  background-color: color-mix(in oklab, var(--background-primary) 90%, black 10%);
  /* filter: brightness(70%); */
  padding: 20px;
  z-index: -9999;
}