.divider {
    border: 1px solid var(--background-modifier-border);
    padding: 5px;
    background-color: rgb(20, 20, 20);
}

.nameColorRow {
  margin-bottom: 7px;
}

button:not(.clickable-icon).addButton {
  background-color: rgb(39, 105, 39);
}


button:not(.clickable-icon).removeButton {
  color: rgb(236, 75, 75);
}
